@use "./colors.scss";
@use "./typography.scss";
@import "~bootstrap/scss/bootstrap";


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: typography.$primary-font;
    color: colors.$text-dark;
}

//-------> Typography <-------//

h1, h2 {
    font-family: typography.$secondary-font;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}


a {
    color: inherit;
    text-decoration-color: colors.$secondary-color;
    text-decoration-thickness: 5px;
}

a:hover,
a:focus {
    color: colors.$secondary-color;
}

.highlight {
    padding: 2px;
    background: linear-gradient(180deg, #ffffff00 60%, colors.$secondary-color-70 60%);
}

//-------> Buttons <-------//

.btn-outline-secondary {
    color: colors.$secondary-color;
    border: 2px solid colors.$secondary-color;
}

.btn-outline-secondary:hover {
    background-color: colors.$secondary-color;
    border: 2px solid colors.$secondary-color;
}

.alt-btn-color {
    border: 2px solid colors.$text-light;
    color: colors.$text-light;
    background-color: colors.$secondary-color;
}

.alt-btn-color:hover {
    background-color: colors.$text-light;
    border-color: colors.$secondary-color;
    color: colors.$secondary-color;
}

//-------> Containers <-------//

.container {
    margin: 0 auto;
    max-width: 2000px;
}

.section {
    padding: 3rem 2rem;
}

.section-alt-colors {
    background-color: colors.$primary-color;
    color: colors.$text-light;
}


.section-header {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
    size: 3rem;
    text-transform: lowercase;
}

.section-header::after {
    content: " ";
    width: 50%;
    height: 1px;
    background-color: colors.$secondary-color;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 50%;
    border-radius: 3px;
}



.main-header {
    background-color: colors.$primary-color;
    padding: 10px 0;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        border: 4px solid colors.$text-light;
        border-radius: 50%;
        background-color: colors.$secondary-color;
        color: colors.$text-light;
        padding: 10px;
        font-size: 1.25rem;
        font-weight: 500;
        cursor: pointer;
    }

    .logo:hover {
        opacity: 90%;
    }

    ul {
        display: flex;
        gap: 1rem;
        margin: 0;

        li { 
            list-style: none;

            a {
                text-decoration: none;
                color: colors.$text-light;
                font-size: 1.2rem;
            }

        }
    }
}

.link-icon-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    position: fixed;
    top: 1rem;
    left: 1rem;

    a {
        color: colors.$text-dark;
    }
}

@media (max-width: 600px) {
    .link-icon-row {
        flex-direction: row;
        background: colors.$primary-color;
        opacity: 80%;
        width: 100vw;
        top: 0;
        left: 0;
        padding: 10px 0;
        justify-content: space-around;
        z-index: 1000;
    }
}

.connect-icon {
    font-size: 1.5rem;
}

.connect-icon:hover,
.connect-icon:focus {
    color: colors.$secondary-color;
}

