$primary-color: #D3997A;
$overlay-primary-color: #D3997A50;
$secondary-color: #A24C4A;
$text-light: #F1F4EE;
$text-dark: #40353A;
$accent-color: #A48C76;
$primary-color-70: #D3997A70;
$secondary-color-70: #A24C4A70;